In [2]:
import re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [3]:
Sample_Text1='Python Exercises, PHP exercises.'
X=re.sub(r'["\s",".",","]',r":",Sample_Text1)
X

'Python:Exercises::PHP:exercises:'

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [4]:
df=pd.DataFrame({'SUMMARY':['hello, world!','XXXXX test','123four,five:; six...']})

X=df['SUMMARY'].str.replace(r'["!",",","XXXXX","0-9",":",";","."]',r"")
X

C:\Users\User\AppData\Local\Temp\ipykernel_6092\3819086083.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  X=df['SUMMARY'].str.replace(r'["!",",","XXXXX","0-9",":",";","."]',r"")

0     hello world
1            test
2    fourfive six
Name: SUMMARY, dtype: object

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [7]:
Sample_Text3="APJ Abdul Kalam was an Indian aerospace    scientist also known as the Missile Man of India"

In [9]:
pattern=r"\w{4,}"
pattern3=re.compile(pattern)
X=pattern3.findall(Sample_Text3)
X

['Abdul',
 'Kalam',
 'Indian',
 'aerospace',
 'scientist',
 'also',
 'known',
 'Missile',
 'India']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [17]:
pattern=r'\b\w{3,5}\b'
pattern4=re.compile(pattern)
X=pattern4.findall(Sample_Text3)
X

['APJ', 'Abdul', 'Kalam', 'was', 'also', 'known', 'the', 'Man', 'India']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [18]:
Sample_Text5="example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"

In [19]:
pattern=r'[()]'
pattern5=re.compile(pattern)
for text in Sample_Text5:
    X=pattern5.sub("",text)
    print(X)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [21]:
pattern=r"\([^)]*\)"
pattern6=re.compile(pattern)
X=[pattern6.sub("",text) for text in Sample_Text5]
print(X)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [26]:
Sample_text7 = "ImportanceOfRegularExpressionsInPython"

In [61]:
x=re.split("(?=[A-Z])", Sample_text7)
Text=[a for a in x if a!=''] #remove empty values
Text

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [80]:
def insert_space(Sample_Text8):
    x=re.sub(r'([A-Za-z])(\d)',r'\1 \2',Sample_Text8)
    print(x)

In [81]:
Sample_Text8="RegularExpression1IsAn2ImportantTopic3InPython"
insert_space(Sample_Text8)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [85]:
def insert_spaces(Sample_Text9):
    x=re.sub(r'([A-Za-z])(\d)',r'\1 \2',Sample_Text9)
    y=re.sub(r'(\d)([A-Z])',r'\1 \2',x)
    print(y)

In [86]:
Sample_Text9="RegularExpression1IsAn2ImportantTopic3InPython"
insert_spaces(Sample_Text9)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [89]:
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [91]:
pattern10=r'(\w{0,6})'
x=df['Country'].str.extract(pattern10)
df['first_five_letters']=x

In [92]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [93]:
x=df['Country'].str[:6]
x

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: Country, Length: 158, dtype: object

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [96]:
String="Python_Batch_Number_123"
pattern6="^[a-zA-Z0-9_]*$"
result=re.match(pattern6,String)
result

Question 12- Write a Python program where a string will start with a specific number.

In [100]:
x=input("enter a number :")
pattern12=f"^{x}"
string='5star'
match=re.match(pattern12,string)
print(match)

enter a number :5
<re.Match object; span=(0, 1), match='5'>

Question 13- Write a Python program to remove leading zeros from an IP address

In [101]:
IP_address="000192.168.001.002"
pattern13="^0+"
result=re.sub(pattern13,'',IP_address)
result

'192.168.001.002'

In [102]:
IP_address="000192.168.001.002"
pattern_13="0+"
result=re.sub(pattern_13,'',IP_address)
result

'192.168.1.2'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [103]:
Sample_Text14 =" On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern14=r"([A-za-z]+) \d{1,2}[a-z]+ \d{4}"
result=re.search(pattern14,Sample_Text14)
result.group()

'August 15th 1947'

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [104]:
Sample_Text15= 'The quick brown fox jumps over the lazy dog.'
Searched_words= 'fox', 'dog', 'horse'
for x in Searched_words:
    if x in Sample_Text15:
        print(x,"found in: ",Sample_Text15)
    else:
        print(x,"Not found in: ",Sample_Text15)

fox found in:  The quick brown fox jumps over the lazy dog.
dog found in:  The quick brown fox jumps over the lazy dog.
horse Not found in:  The quick brown fox jumps over the lazy dog.

In [246]:
Sample_text5= 'The quick brown fox jumps over the lazy dog.'
Searched_words='fox', 'dog', 'horse'
for x in Searched_words:
    if x in Sample_text5:
        print(x,"found in: ",Sample_text5,"starts at position:",Sample_text5.index(x),"Ends at the position:",Sample_text5.index(x)+len(x))
    else:
        print(x,"Not found in: ",Sample_text5)

fox found in:  The quick brown fox jumps over the lazy dog. starts at position: 16 Ends at the position: 19
dog found in:  The quick brown fox jumps over the lazy dog. starts at position: 40 Ends at the position: 43
horse Not found in:  The quick brown fox jumps over the lazy dog.

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [106]:
Sample_text16='The quick brown fox jumps over the lazy dog.'
Searched_word='fox'
if Searched_word in Sample_text16:
    print(Searched_word,"found in: ",Sample_text16,"starts at position:",Sample_text16.index(Searched_word),"Ends at the position:",Sample_text16.index(Searched_word)+len(Searched_word))
else:
    print(Searched_word,"Not found in: ",Sample_text5)

fox found in:  The quick brown fox jumps over the lazy dog. starts at position: 16 Ends at the position: 19

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [107]:
Sample_text17='Python exercises, PHP exercises, C# exercises'
pattern17='exercises'
result=re.findall(pattern17,Sample_text17)
result

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [110]:
Sample_text18='Python exercises, PHP exercises, C# exercises'
pattern18='exercises'
Matches=re.finditer(pattern18,Sample_text18)
if Matches:
    for x in Matches:
        location=x.start()
        location2=x.end()
        print("Occurence of", pattern18 ,"is at position :",location,"and ends at",location2)
else:
    print("Match not found")

Occurence of exercises is at position : 7 and ends at 16
Occurence of exercises is at position : 22 and ends at 31
Occurence of exercises is at position : 36 and ends at 45

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [111]:
from datetime import datetime
Date='1983-06-11'
Given_Dateformat=datetime.strptime(Date,'%Y-%m-%d')
Changed_Dateformat=Given_Dateformat.strftime('%d-%m-%Y')
Changed_Dateformat

'11-06-1983'

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [113]:
Sample_text20="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern20=r"\b\d+\.\d{1,2}\b" 
X=re.compile(pattern20)
Match=X.findall(Sample_text20)
Match

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [115]:
String21="The cost of mangoes, apple and orrange are : 123,456, and 789."
pattern21="\d+"
numbers=re.findall(pattern21,String21)
for x in numbers:
    print(x,"is at Location",String21.index(x) )

123 is at Location 45
456 is at Location 49
789 is at Location 58

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [116]:
Sample_text22='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
marks=re.findall(pattern21,Sample_text22)
Marks=[int(mark) for mark in marks]
Maximum=max(Marks)
print(Maximum)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [119]:
Sample_Text23="RegularExpressionIsAnImportantTopicInPython"
def insert_spaces(Sample_text23):
    a=re.sub(r'([A-Z])',r' \1',Sample_Text23)
    print(a)

In [120]:
insert_spaces(Sample_Text23)

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [122]:
P= "Regular Expression Is An Important Topic In Python"
pattern24=r"[A-Z][a-z]+"
x=re.findall(pattern24,P)
x

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [123]:
Sample_Text25= "Hello hello world world"
regex=r'\b(\w+)(?:\W+\1\b)+'

x=re.sub(regex,r'\1',Sample_Text25)
print(x)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [125]:
P='My Name is Kanchana'
pattern26=r'.*[a-zA-Z0-9]$'
if re.findall(pattern26,P):
    print("Accepted")
else:
    print("Rejected")

Accepted

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [126]:
Sample_Text27= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern27=r"#\w+"
x=re.findall(pattern27,Sample_Text27)
x

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [127]:
Sample_Text28= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern28=r'<U\+\w+>'
x=re.sub(pattern28,"",Sample_Text28)
x

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [128]:
Sample_Text29=" Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
Date29=r'\d{1,2}-\d{1,2}-\d{4}'
Dates=re.findall(Date29,Sample_Text29)
Dates

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [129]:
Sample_Text30= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [130]:
def Remove_string(Sample_Text30):
    pattern30=r'\b\w{2,4}\b'
    Remove=re.compile(pattern30)
    Sentence=Remove.sub("",Sample_Text30)
    print(Sentence)

In [131]:
Remove_string(Sample_Text30)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.