In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3.1\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3.1\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3.1\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3.1\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3.1\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3.1\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3.1\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3.1\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3.1\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3.1\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3.1\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3.1\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3.1\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3.1\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3.1\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import time
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
from PIL import Image
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.action_chains import ActionChains

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium.webdriver.common.keys import Keys

# 1.Scrape most viewed videos on youtube from wikipedia

In [17]:
driver=webdriver.Chrome()

In [18]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [48]:
Name=[]
Artist=[]
Upload=[]
Views=[]
names=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in names:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append("-")
artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist:
    try:
        Artist.append(i.text)
    except NoSuchElementException:
        Artist.append("-")
upload=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in upload:
    try:
        Upload.append(i.text)
    except NoSuchElementException:
        Upload.append("-")
views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in views:
    try:
        Views.append(i.text)
    except NoSuchElementException:
        Views.append("-")

In [64]:
Rank=range(1,19)
Rank

range(1, 19)

In [65]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload Date':Upload,'Views':Views})
df

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,2,"""Despacito""[9]",Luis Fonsi,"January 12, 2017","2,993,700,000"
2,3,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,4,"""Gangnam Style""⁂[31]",Psy,"July 15, 2012","803,700,000"
4,5,"""Baby""*[66]",Justin Bieber,"February 19, 2010","245,400,000"
5,6,"""Bad Romance""[70]",Lady Gaga,"November 24, 2009","178,400,000"
6,7,"""Charlie Bit My Finger""‡[74]",HDCYT,"May 22, 2007","128,900,000"
7,8,"""Evolution of Dance""[77]",Judson Laipply,"April 6, 2006","118,900,000"
8,9,"""Girlfriend""‡[79][80]",RCA Records,"February 27, 2007","92,600,000"
9,10,"""Evolution of Dance""[77]",Judson Laipply,"April 6, 2006","78,400,000"
10,11,"""Music Is My Hot Hot Sex""‡[85]",CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,12,"""Evolution of Dance""*[77]",Judson Laipply,"April 6, 2006","10,600,000"
12,13,"""Pokémon Theme Music Video""‡[90]",Smosh,"November 28, 2005","4,300,000"
13,14,"""Myspace – The Movie""‡[95][96]",eggtea,"January 31, 2006","2,700,000"
14,15,"""Phony Photo Booth""‡[99]",mugenized,"December 1, 2005","3,400,000"
15,16,"""The Chronic of Narnia Rap""‡[105]",youtubedude,"December 18, 2005","2,300,000"
16,17,"""Ronaldinho: Touch of Gold""‡*[108]",Nikesoccer,"October 21, 2005","255,000"
17,18,"""I/O Brush""‡*[114]",larfus,"October 5, 2005","247,000"

# 2.Scrape indias international fixtures from bcci.tv

In [68]:
driver=webdriver.Chrome()
driver.get("https://bcci.tv/")

In [69]:
fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]').click()

In [134]:
Series=[]
Place=["SuperSport Park, Centurion"]
Date=[]
Time=[]
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    Place.append(i.text)
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)

In [136]:
len(Place)

9

In [137]:
df=pd.DataFrame({"Series":Series,"Place":Place,"Date":Date,"Time":Time})
df

,Series,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion","26 DECEMBER, 2023",1:30 PM IST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",2:00 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",2:00 PM IST
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",2:00 PM IST
4,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
5,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
6,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
7,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST
8,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST

# 3.Scrape details of statewise GDP

In [80]:
driver=webdriver.Chrome()
driver.get("https://statisticstimes.com/")

In [81]:
economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

India=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [84]:
Rank=[]
State=[]
GSDP21=[]
GSDP22=[]
Share=[]
GDP=[]
rank=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
state=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
gsdp21=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in gsdp21:
    GSDP21.append(i.text)
gsdp22=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in gsdp22:
    GSDP22.append(i.text)
share=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in share:
    Share.append(i.text)
gdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in gdp:
    GDP.append(i.text)

In [85]:
df=pd.DataFrame({"Rank":Rank,"State":State,"GSDP(21-22)":GSDP21,"GSDP(22-23)":GSDP22,"Share(21-22)":Share,"GDP($ billion)":GDP})
df

,Rank,State,GSDP(21-22),GSDP(22-23),Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
...,...,...,...,...,...,...
61,29,Arunachal Pradesh,"31,669",-,0.16%,-
62,30,Sikkim,"31,519","35,670",0.16%,"17,832"
63,31,Nagaland,"27,859",-,0.14%,-
64,32,Mizoram,"24,293",-,0.12%,-
65,33,Andaman & Nicobar Islands,"9,209",-,0.05%,-

# 4. Scraping github

In [345]:
driver=webdriver.Chrome()
driver.get("https://github.com/")

In [346]:
opensource=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()
trend=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a").click()

In [347]:
Article=[]
article=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in article:
    Article.append(i.get_attribute('href'))

In [348]:
Article

['https://github.com/Frooodle/Stirling-PDF',
 'https://github.com/Frooodle/Stirling-PDF',
 'https://github.com/Frooodle/Stirling-PDF',
 'https://github.com/Frooodle/Stirling-PDF',
 'https://github.com/apple/ml-ferret',
 'https://github.com/atomicals/atomicals-js',
 'https://github.com/atomicals/atomicals-js',
 'https://github.com/atomicals/atomicals-js',
 'https://github.com/atomicals/atomicals-js',
 'https://github.com/cumulo-autumn/StreamDiffusion',
 'https://github.com/cumulo-autumn/StreamDiffusion',
 'https://github.com/cumulo-autumn/StreamDiffusion',
 'https://github.com/cumulo-autumn/StreamDiffusion',
 'https://github.com/AmruthPillai/Reactive-Resume',
 'https://github.com/AmruthPillai/Reactive-Resume',
 'https://github.com/movie-web/movie-web',
 'https://github.com/movie-web/movie-web',
 'https://github.com/movie-web/movie-web',
 'https://github.com/movie-web/movie-web',
 'https://github.com/karanpratapsingh/system-design',
 'https://github.com/JoeanAmier/TikTokDownloader',
 'https://github.com/matt8707/ha-fusion',
 'https://github.com/Enraged-Rabbit-Community/ERCF_v2',
 'https://github.com/Enraged-Rabbit-Community/ERCF_v2',
 'https://github.com/Enraged-Rabbit-Community/ERCF_v2']

In [352]:
Title=[]
try:
    title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
        Title.append("-")

In [358]:
Description=[]
for a in Article:
    driver.get(a)
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[2]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append("-")

In [361]:
Count=[]
for a in Article:
    driver.get(a)
    try:
        count=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        Count.append(count.text)
    except NoSuchElementException:
        Count.append("-")

In [368]:
Language=[]
for a in Article:
    driver.get(a)
    try:
        language=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[7]/div/ul')
        Language.append(language.text)
    except NoSuchElementException:
        Language.append("-")

In [366]:
len(Title)

25

In [360]:
len(Description)

25

In [367]:
len(Count)

25

In [370]:
len(Language)

25

In [374]:
df=pd.DataFrame({"Repository_Title":Title,"Repository_Desription":Description,"Contributors_Count":Count,"Language_used":Language})
df

,Repository_Title,Repository_Desription,Contributors_Count,Language_used
0,Frooodle / Stirling-PDF,locally hosted web application that allows you...,-,Java\n49.6%\nHTML\n36.7%\nJavaScript\n10.4%\nC...
1,Frooodle / Stirling-PDF,locally hosted web application that allows you...,-,Java\n49.6%\nHTML\n36.7%\nJavaScript\n10.4%\nC...
2,Frooodle / Stirling-PDF,locally hosted web application that allows you...,-,Java\n49.6%\nHTML\n36.7%\nJavaScript\n10.4%\nC...
3,Frooodle / Stirling-PDF,locally hosted web application that allows you...,-,Java\n49.6%\nHTML\n36.7%\nJavaScript\n10.4%\nC...
4,apple / ml-ferret,-,-,-
5,atomicals / atomicals-js,Atomicals CLI and Javascript Library,23,-
6,atomicals / atomicals-js,Atomicals CLI and Javascript Library,23,-
7,atomicals / atomicals-js,Atomicals CLI and Javascript Library,23,-
8,atomicals / atomicals-js,Atomicals CLI and Javascript Library,23,-
9,cumulo-autumn / StreamDiffusion,StreamDiffusion: A Pipeline-Level Solution for...,11,-
10,cumulo-autumn / StreamDiffusion,StreamDiffusion: A Pipeline-Level Solution for...,11,-
11,cumulo-autumn / StreamDiffusion,StreamDiffusion: A Pipeline-Level Solution for...,11,-
12,cumulo-autumn / StreamDiffusion,StreamDiffusion: A Pipeline-Level Solution for...,11,-
13,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,-,TypeScript\n98.9%\nOther\n1.1%
14,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,-,TypeScript\n98.9%\nOther\n1.1%
15,movie-web / movie-web,A small web app for watching movies and shows ...,-,-
16,movie-web / movie-web,A small web app for watching movies and shows ...,-,-
17,movie-web / movie-web,A small web app for watching movies and shows ...,-,-
18,movie-web / movie-web,A small web app for watching movies and shows ...,-,-
19,karanpratapsingh / system-design,Learn how to design systems at scale and prepa...,-,-
20,JoeanAmier / TikTokDownloader,完全免费开源，基于 Requests 模块实现：TikTok 主页/视频/图集/原声；抖音主...,-,-
21,matt8707 / ha-fusion,"A modern, easy-to-use and performant custom Ho...",-,-
22,Enraged-Rabbit-Community / ERCF_v2,Community designed ERCF v2,11,-
23,Enraged-Rabbit-Community / ERCF_v2,Community designed ERCF v2,11,-
24,Enraged-Rabbit-Community / ERCF_v2,Community designed ERCF v2,11,-

# 5.Scrape 100 songs on billiboard

In [5]:
driver=webdriver.Chrome()
driver.get("https:/www.billboard.com/")

In [6]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [10]:
songs=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [13]:
Song=[]
song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song:
    Song.append(i.text)

In [15]:
len(Song)

100

In [22]:
Artist=[]
artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in artist:
    Artist.append(i.text)

In [24]:
len(Artist)

100

In [25]:
Lrank=[]
lrank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in lrank:
    Lrank.append(i.text)

In [27]:
len(Lrank)

100

In [29]:
Prank=[]
prank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in prank:
    Prank.append(i.text)

In [31]:
len(Prank)

100

In [32]:
WOB=[]
wob=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in wob:
    WOB.append(i.text)

In [34]:
len(WOB)

100

In [37]:
df=pd.DataFrame({"Song Name":Song,"Artist Name":Artist,"Last Week Rank":Lrank,"Peak Rank":Prank,"Weeks On Board":WOB})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,64
1,Rockin' Around The Christmas Tree,Brenda Lee,2,1,57
2,Jingle Bell Rock,Bobby Helms,3,3,55
3,Last Christmas,Wham!,4,4,37
4,A Holly Jolly Christmas,Burl Ives,5,4,38
...,...,...,...,...,...
95,Winter Wonderland,Chloe,-,96,1
96,Run For The Hills,Tate McRae,69,69,2
97,Que Onda,Calle 24 x Chino Pacas x Fuerza Regida,92,61,12
98,Great Gatsby,Rod Wave,-,30,13
99,One Of The Girls,"The Weeknd, JENNIE & Lily Rose Depp",-,100,1

# 6.Scrape highest selling Novels

In [38]:
driver=webdriver.Chrome()
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [41]:
Title=[]
title=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in title:
    Title.append(i.text)

In [43]:
len(Title)

100

In [44]:
Author=[]
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author.append(i.text)

In [46]:
len(Author)

100

In [47]:
Vsales=[]
vsales=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vsales:
    Vsales.append(i.text)

In [49]:
len(Vsales)

100

In [50]:
Publisher=[]
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)

In [52]:
len(Publisher)

100

In [53]:
Genre=[]
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

In [55]:
len(Genre)

100

In [56]:
df=pd.DataFrame({"Book Name":Title,"Author Name":Author,"Volumes Sold":Vsales,"Publisher":Publisher,"Genre":Genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7.scrape most watched Tv series of all time from imdb

In [89]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com")

In [93]:
menu=driver.find_element(By.XPATH,"/html/body/div[2]/nav/div[2]/label[1]").click()
TOP=driver.find_element(By.XPATH,"/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[2]").click()

In [95]:
URL=[]
url=driver.find_elements(By.XPATH,'//div[@class="sc-43986a27-0 gUQEVh cli-children"]/div/a')
for i in url:
    URL.append(i.get_attribute(('href')))

In [99]:
Name=[]
YS=[]
Genre=[]
RT=[]
R=[]
V=[]
for a in URL:
    driver.get(a)
    time.sleep(5)
    try:
        name=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/h1')
        Name.append(name.text)
    except NoSuchElementException:
        Name.append("-")
    try:
        ys=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]/a')
        YS.append(ys.text)
    except NoSuchElementException:
        YS.append("-")
    try:
        genre=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[1]/div[2]')
        Genre.append(genre.text)
    except NoSuchElementException:
        Genre.append("-")
    try:
        rt=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[4]')
        RT.append(rt.text)
    except NoSuchElementException:
        RT.append("-")
    try:
        r=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]/span[1]')
        R.append(r.text)
    except NoSuchElementException:
        R.append("-")
    try:
        v=driver.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[3]')
        V.append(v.text)
    except NoSuchElementException:
        V.append("-")

In [100]:
df=pd.DataFrame({"Name":Name,"Year Span":YS,"Genre":Genre,"Run Time":RT,"Ratings":R,"Votes":V})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Breaking Bad,2008–2013,Crime\nDrama\nThriller,50h 30m,9.5,2.1M
1,Planet Earth II,2016,Documentary,4h 58m,9.5,155K
2,Planet Earth,2006,Documentary\nFamily,8h 58m,9.4,218K
3,Band of Brothers,2001,Drama\nHistory\nWar,9h 54m,9.4,510K
4,Chernobyl,2019,Drama\nHistory\nThriller,5h 30m,9.3,838K
...,...,...,...,...,...,...
245,Cobra Kai,2018–2023,Action\nComedy\nDrama,30m,8.5,200K
246,Alchemy of Souls,2022–,Action\nDrama\nFantasy,1h 20m,8.8,15K
247,Southland,2009–2013,Crime\nDrama\nThriller,42m,8.5,29K
248,The Great British Baking Show,2010–,Game-Show\nReality-TV,1h,8.6,12K
249,I Love Lucy,1951–1957,Comedy\nFamily,30m,8.5,28K

# 8.Scrape UCI Machine

In [62]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [63]:
Datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a').click()

In [71]:
url=[]
start=0
end=10
for page in range(start,end):
    urls=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for i in urls:
        url.append(i.get_attribute(('href')))
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')

In [73]:
len(url)

100

In [77]:
Name=[]
Type=[]
Task=[]
Atype=[]
NI=[]
NA=[]
Year=[]
for i in url:
    driver.get(i)
    time.sleep(5)
    try:
        name=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1')
        Name.append(name.text)
    except NoSuchElementException:
        Name.append("-")
    try:
        type=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        Type.append(type.text)
    except NoSuchElementException:
        Type.append("-")
    try:
        task=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        Task.append(task.text)
    except NoSuchElementException:
        Task.append("-")
    try:
        atype=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        Atype.append(atype.text)
    except NoSuchElementException:
        Atype.append("-")
    try:
        ni=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        NI.append(ni.text)
    except NoSuchElementException:
        NI.append("-")
    try:
        na=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        NA.append(na.text)
    except NoSuchElementException:
        NA.append("-")
    try:
        year=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        Year.append(year.text)
    except NoSuchElementException:
        Year.append("-")

In [76]:
len(Name)

100

In [79]:
df=pd.DataFrame({"Dataset Name":Name,"Data Type":Type,"Task":Task,"Attribute Type":Atype,"No Of Instances":NI,"No Of Attribute":NA,"Year":Year})
df

,Dataset Name,Data Type,Task,Attribute Type,No Of Instances,No Of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
2,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
...,...,...,...,...,...,...,...
95,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
96,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
97,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-
98,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Donated on 10/6/2009
99,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997